body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://wallpapercave.com/wp/wp8654331.jpg'); /* Heart image background */
  background-size: cover;
  background-position: center;
}

.container {
  text-align: center;
  position: absolute;
}

.question-box h1 {
  font-size: 3em;
  color: rgb(213, 14, 14);
}

.btn {
  font-size: 1.5em;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.flip-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(180deg);
  display: none;
}

.flip-box {
  width: 100vw;
  height: 100vh;
  background-image: url(https://thumbs.dreamstime.com/z/love-wedding-blank-note-paper-card-surrounded-floating-red-heart-pink-concept-letter-valentines-day-47759257.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-box h2 {
  font-size: 3em;
  color: red;
}

.heart-fall {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.heart {
  position: absolute;
  font-size: 50px;
  background-color: red;
  animation: fall 5s infinite;
  top: -50px;
  left: calc(100%*var(--pos));
}

@keyframes fall {
  0% { top: -50px; }
  100% { top: 100vh; }
}